.container{
    margin-top: 1px !important; 
}
.formularTitle{
    padding-top: 1vh;
    font-size: 2vw;
    text-align: center;
}
.field{
    width: 80%;
    font-size:1vw;
}
.formControl{
    width:90%;
}
.fieldEmail{
    width:90%;
}
.ToggleButton{
    width: 90%;
}
.fieldCapacitate{
    width:90%;
}
.line{
    width: 100%;
    border-bottom: 1px solid rgba(151, 151, 151, 0.39);
    position: relative;
    -webkit-box-shadow:0px 1px 1px #3a363a48;
    -moz-box-shadow:0px 1px 1px #383338;
    box-shadow:0px 1px 1px #2c2c2c;
    }
.buttonCalculeaza{
    width: 90%;
}
.containerButton{
    margin-top: 10px;
}